<%- include("../partials/header.ejs") %>
<div class="antialiased bg-gray-50 dark:bg-gray-900">

  <!-- Navbar -->
  <%- include("../partials/quizNavbar.ejs") %>

  <!-- Sidebar -->
  <%- include("../partials/quizSidebar.ejs") %>

  <main class="p-4 md:ml-64 h-auto pt-20">
    <% if(quizQuestions && quizOptionNames) { %>
    <% quizQuestions.map(({question: {id: questionId, name: questionName, image}, options }, questionIndex) => { %>
    <div id="<%- questionId %>" class="quizQuestion scroll-m-20 p-6 border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 mb-7">
      <div class="mb-6 text-gray-700 dark:text-gray-200 flex gap-4 flex-wrap">
        <div class="flex justify-start gap-6">
          <span>(<%- ++questionIndex %>)</span>
          <p><%- questionName %></p>
        </div>
        <% if(image){ %>
        <img class="max-h-52" src="<%- image %>" alt="<%- questionName %>">
        <% } %>
      </div>
      <ul class="grid w-full gap-3 mb-5">
        <% options.map(({id: optionId, name}, optionIndex) => { %>
        <li onclick="addAnswer('<%- optionId %>','<%- questionId %>')">
          <input name="<%- questionId %>" type="radio" id="<%- optionId %>" class="hidden peer" required />
          <label for="<%- optionId %>" class="gap-6 inline-flex items-center justify-between w-full  text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
            <span class="bg-gray-600 text-white px-3 py-1 rounded"><%- quizOptionNames[optionIndex].name %></span>
            <div class="block flex-1">
              <div class="w-full"><%- name %></div>
            </div>
          </label>
        </li>
        <% }) %>
      </ul>
      <button onclick="clearAnswer('<%- questionId %>')" class=" text-gray-500 border-[1px] border-gray-300 dark:border-gray-600 hover:bg-slate-600 hover:text-white transition-all rounded px-2 py-1"><i class="bi bi-x pl-0.5"></i> <span class="pr-1">Clear answer</span></button>
    </div>
    <% }) %>
    <% } else { %>
    Opps, something went wrong.
    <% } %>
  </main>
</div>

<%- include("../partials/footer.ejs") %>